<a href="https://colab.research.google.com/github/woosuvin/python/blob/main/py02_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#파이썬 자료 타입(data type)
* 숫자 타입
  * `int`: 정수
  * `float`: 실수
* 문자열 타입
  * `str`
* 논리 타입
  * `bool`: True/False
* 객체 타입

파이썬에서는 변수를 선언할 때 자료 타입을 명시하지 않음.    
변수의 자료 타입은 코드가 실행될 때 결정됨.  
줄바꿈: 엔터 두 번, 띄어쓰기 두 번, `<br />`

In [ ]:
pi = 3.14
print(pi)
type(pi) #print(type(pi))

3.14

float

## 명시적 타입 변환
* `int(arg)`: argument를 정수 타입으로 변환해서 리턴.
* `float(arg)`: argument를 실수 타입으로 변환해서 리턴.
* `str(arg)`: argument를 문자열로 변환해서 리턴.

In [ ]:
# Colab 노트북에서 콘솔 입력:
n = input('정수를 입력하세요 >>> ')

정수를 입력하세요 >>> 222

In [ ]:
print(n)
type(n) # n -> 문자열 타입, n + 1 -> 에러남
int(n) + 1 # 222 + 1
n + str(1) # '222' + '1'

222

'2221'

# 산술 연산자
`+, -, *, /, //, %, **, `
* `/`: 소수점까지 계산하는 나눗셈.
* `//`: 나눈 몫.
* `%`: 나눈 나머지.
* `**`: 거듭 제곱.

In [ ]:
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(10 ** 3)
print(10 ** (-1))

3.3333333333333335
3
1
1000
0.1

# 비교 연산자, 논리 연산자
* 비교 연산자: `==, !=, >, >=, <, <=`
* 논리 연산자: `and, or, not`

In [ ]:
x = 100
print((x > 50) and (x < 150))
print(50 < x < 150)

True
True