<a href="https://colab.research.google.com/github/woosuvin/python/blob/main/py04_iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for 반복문
```
for 변수 in iterable_type:
  반복해서 실행할 코드 블록
```
* iterable_type: 반복 가능한 타입
  * range, list, tuple, dic, set, str, ...
* `range(stop`): 0 <= x < stop 범위의 1씩 증가하는 정수들을 차례로 반환.
* `range(start, stop)`: start <= x < stop 범위의 1씩 증가하는 정수들을 차례대로 반환.
* `range(start, stop, step)`:
  * step > 0: start <= x < stop 범위의 step 만큼씩 증가하는 정수들을 차례로 반환.
  * step < 0: start >= x > stop 범위의 step 만큼씩 감소하는 정수들을 차례로 반환.

In [ ]:
for x in range(5): # 0 <= x < 5
  print(x)

0
1
2
3
4

In [ ]:
for x in range(1, 6): # 1 <= x < 6
  print(x)

1
2
3
4
5

In [ ]:
for x in range(0, 11, 2):
  print(x)

0
2
4
6
8
10

In [ ]:
for x in range(10, 0, -2):
  print(x)

10
8
6
4
2

# 중첩 반복문
```
for x in iterable 1:
  for y in iterable 2:
    코드 블록
```

Ex. 구구단 2단부터 9단까지 출력

In [ ]:
for x in range(2, 10):
  for y in range(1, 10):
    print(f'{x} X {y} = {x*y}')
  print('문자열인데곱하기가가능하다고?' * 3)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
문자열인데곱하기가가능하다고?문자열인데곱하기가가능하다고?문자열인데곱하기가가능하다고?
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
문자열인데곱하기가가능하다고?문자열인데곱하기가가능하다고?문자열인데곱하기가가능하다고?
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
문자열인데곱하기가가능하다고?문자열인데곱하기가가능하다고?문자열인데곱하기가가능하다고?
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
문자열인데곱하기가가능하다고?문자열인데곱하기가가능하다고?문자열인데곱하기가가능하다고?
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
문자열인데곱하기가가능하다고?문자열인데곱하기가가능하다고?문자열인데곱하기가가능하다고?
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
문자열인데곱하기가가능하다고?문자열인데곱하기가가능하다고?문자열인데곱하기가가능하다고?
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
문자열인데곱하기가가능하다고?문자열인데곱하기가가능하다고?문자열인데곱하기가가능하다고?
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
문자열인데곱하기가가능하다고?문자열인데곱하기가가능하다고?문자열인데곱하기가가능하다고?

>문자열에서 사용 가능한 산술 연산자:
* 문자열 `+` 문자열: 문자열 이어붙이기(concatenate)
* 문자열 `*` 정수: 문자열 (정수만큼) 반복해서 복사하기

# break와 continue
* `break`: 반복(iteration)을 종료. break가 포함된 가장 가까운 반복문을 빠져나옴.
* `continue`: 반복문 내부의 실행을 멈추고, 그 다음 iteration을 계속해서 수행.

In [ ]:
for x in range(5):
  if x == 2:
    break
  print (x)

0
1

In [ ]:
for x in range(5):
  if x == 2:
    continue
  print(x)

0
1
3
4

ex. 다음과 같이 출력
```
2 X 1 = 2
2 X 2 = 4
----------
3 X 1 = 3
3 X 2 = 6
3 x 3 = 9
----------
...
----------
5단 까지
```

In [ ]:
for x in range(2, 6):
  for y in range(1, 6):
    print(f'{x} X {y} = {x*y}')
    if x == y:
      break
  print('-' * 10)

2 X 1 = 2
2 X 2 = 4
----------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
----------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
----------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
----------

In [ ]:
for x in range(2, 6):
  for y in range(1, x+1):
    print(f'{x} X {y} = {x*y}')
  print('-' * 10)

2 X 1 = 2
2 X 2 = 4
----------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
----------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
----------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
----------

# while 반복문
```
[초기화 문장]
while 조건식:
  반복할 코드 블록
  [조건(변수)를 변경하는 문장]
```

Ex. 다음과 같이 출력하는 코드를 while문으로 작성
```
*
**
***
****
*****
```

In [ ]:
x = 1
while x <= 5:
  print('*' * x)
  x += 1 # 파이썬은 ++, -- 연산자는 없음.

*
**
***
****
*****

Ex. 1 이상 10 미만의 홀수들을 출력하는 코드를 while문으로 작성.

In [ ]:
x = 1
while x < 10:
  print(x)
  x += 2

1
3
5
7
9