<a href="https://colab.research.google.com/github/woosuvin/python/blob/main/py05_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# list
* 여러 개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.
* element(원소, 요소): 리스트에 저장되는 각각의 값.
* index(인덱스): 리스트에서 원소가 저장되는 위치.
  * 리스트의 인덱스는 **0**부터 시작.
  * 리스트의 마지막 인덱스는 (원소 개수 - 1).
* 리스트는 원소들을 추가, 삭제, 변경할 수 있음.
  * `tuple`과 다른 점!

In [ ]:
# 숫자들을 저장하는 리스트
numbers = [1, 2, 3, 10, 30, 40]
numbers

[1, 2, 3, 10, 30, 40]

# 인덱싱(indexing)
인덱스를 사용해서 리스트의 원소를 참조하는 방법.

In [ ]:
numbers[0] # 리스트 numbers의 인덱스 0 위치의 원소

10

In [ ]:
numbers[-1] # 리스트에서 가장 마지막 원소. 음수는 맨 뒤에서 거꾸로 셈

40

In [ ]:
numbers[-2]

30

# slicing
인덱스를 사용해서 리스트의 부분집합(리스트)를 잘라내는 방법.
`list[start:end]`
* start <= index < end 범위의 인덱스 위치의 원소들을 잘라냄.
* start를 생략한 경우에는 첫번째 원소부터 잘라냄.
  * `list[0:5]` = `list[:5]` 둘 다 0부터 시작.
* end를 생략한 경우에는 마지막 원소까지 잘라냄.
* 리스트를 slicing한 결과는 또 다른 새로운 **리스트**.

In [ ]:
numbers

[1, 2, 3, 10, 30, 40]
[2, 3, 10, 30]

In [ ]:
numbers[1:5] # 1 <= index < 4

[2, 3, 10, 30]

In [ ]:
numbers[3:] # 3부터 끝까지

[10, 30, 40]

In [ ]:
numbers[:3] # 리스트에서 앞에서 3개를 선택 -> 양수 인덱스 사용

[1, 2, 3]

In [ ]:
numbers[-3:] # 리스트에서 뒤에서 3개를 선택 -> 음수 인덱스 사용하면 편함

[10, 30, 40]

In [ ]:
numbers[0:1] # slicing -> 리스트

[1]

In [ ]:
numbers[0] # indexing -> 값

1

# 문자열(str)
* 문자들의 **리스트**.
* 문자열은 인덱스를 사용할 수 있음.
* indexing, slicing 가능.

In [ ]:
message = '안녕하세요, 여러분!' # 11개의 문자들로 이루어진 리스트.

In [ ]:
message[0] # 문자열에서 첫번째 문자

'안'

In [ ]:
message[-1] #문자열에서 마지막 문자(10)

'!'

In [ ]:
message[:3] # 문자열에서 앞에서 3글자

'안녕하'

In [ ]:
message[-3:] # 문자열에서 뒤에서 3글자

'러분!'

In [ ]:
# 문자열 산술 연산: +, *
print('hello' + 'python')
print('hello' * 3)

hellopython
hellohellohello

# 리스트의 산술 연산
* `list + list`
* `list * int` 또는 `int * list`

In [ ]:
[1, 2, 3] + [4, 5, 6] # concatenate

[1, 2, 3, 4, 5, 6]

In [ ]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# list와 for 반복문

In [ ]:
for x in 'hello':
  print(x)

h
e
l
l
o

In [ ]:
numbers = [1, 10, 5, 100]
for x in numbers:
  print(x)

1
10
5
100

In [ ]:
for i in range(len(numbers)): # 0 <= i < len
  print(i, ': ', numbers[i]) # 인덱스와 값을 찾을 때

0 :  1
1 :  10
2 :  5
3 :  100

In [ ]:
for i, v in enumerate(numbers): # i: 인덱스, v: 값
  print(i, ': ', v)

0 :  1
1 :  10
2 :  5
3 :  100

In [ ]:
numbers1 = [1, 2, 3]
numbers2 = [10, 11, 12]
# numbers1, numbers2의 같은 인덱스의 원소들끼리의 합을 원소로 갖는 리스트
result = [] # 빈(empty) fltmxm
for i in range(len(numbers1)): # 0 <= i < len
  result.append(numbers1[i] + numbers2[i])
result

[11, 13, 15]

In [ ]:
result = []
for x, y in zip(numbers1, numbers2):
  result.append(x + y)
result

[11, 13, 15]

> 파이썬에서 난수를 만드는 방법

In [ ]:
import random # random 모듈을 임포트

In [ ]:
# random 모듈의 random() 함수를 호출
random.random() # [0, 1) 범위(0 <= x < 1)실수 난수를 리턴

0.7554026313101907

In [ ]:
# random 모듈의 randrange() 함수를 호출
random.randrange(0, 10) # [0, 10) 범위의 정수 난수를 리턴

8

In [ ]:
random.randrange(1, 4) # [1, 4) 범위의 정수 난수를 리턴.

2

# Exercise

# Ex 1.
1. 빈 리스트를 생성.
2. 1 이상 10 이하의 정수 난수 5개를 저장.
3. 리스트의 모든 정수들의 합을 출력.
4. 리스트의 모든 정수들의 평균을 출력.

In [ ]:
list = []
for value in range(0, 5):
  list.append(random.randrange(1, 11))
print('list = ', list)

sum = 0
for x in list:
  sum += x
print('sum = ', sum)

avg = sum / 5
print('avg = ', avg)

list =  [10, 2, 8, 3, 6]
sum =  29
avg =  5.8

# Ex 2.
1. 빈 리스트(numbers)를 생성.
2. 10 이상, 100 미만의 정수 난수 10개를 numbers에 저장.
3. numbers에서 짝수들만 선택해서 evens 리스트를 만들고 출력.
4. numbers에서 홀수들만 선택해서 odds 리스트를 만들고 출력.

In [ ]:
list = []
for value in range(0, 10):
  list.append(random.randrange(10, 101))
print('list = ', list)

evens = [] # 짝수
odds = [] # 홀수\

for x in list:
  if x % 2 == 0:
    evens.append(x)
  else:
    odds.append(x)

print('evens = ', evens)
print('odds = ', odds)

list =  [34, 43, 27, 89, 50, 92, 67, 62, 66, 95]
evens =  [34, 50, 92, 62, 66]
odds =  [43, 27, 89, 67, 95]

#Ex 3.
1. 빈 리스트 numbers를 만듦.
2. -10 이상 10 이하인 범위의 정수 난수 10개를 numbers에 저장.
3. numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 is_positive 리스트를 만들고 출력.

In [ ]:
numbers = []
for value in range(0, 10):
  numbers.append(random.randrange(-10, 11))
print('numbers = ', numbers)

is_positive = []

for x in numbers:
  if x % 2 == 0:
    is_positive.append(True)
  else:
    is_positive.append(False)

print('is_positive = ', is_positive)

numbers =  [-7, 6, -9, -7, 8, -9, 5, 3, 4, -1]
is_positive =  [False, True, False, False, True, False, False, False, True, False]

# Ex 4.
1. gender_codes 리스트에 0 또는 1을 랜덤하게 10개를 저장.
2. gender_codes의 값이 0이면 'Male', 그렇지 않으며 'Female'을 저장하는 genders 리스트를 만들고 출력.

In [ ]:
gender_codes = []
for value in range(0, 10):
  gender_codes.append(random.randrange(0, 2))
print('gender_codes = ', gender_codes)

genders = []

for x in gender_codes:
  if x == 1:
    genders.append('Female')
  else:
    genders.append('Male')

print('genders = ', genders)

gender_codes =  [0, 1, 1, 1, 0, 1, 1, 1, 1, 0]
genders =  ['Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male']

#Ex 5.
1. numbers1: 100 미만의 정수 난수 10개를 저장하는 리스트.
2. numbers2: 100 미만의 정수 난수 10개를 저장하는 리스트.
3. multiplication: numbers1과 numbers2의 같은 인덱스에 있는 원소들끼리의 곱셈 결과를 저장하는 리스트.
4. subtraction: numbers1의 원소에서 같은 인덱스에 있는 numbers2의 원소를 뺀 값을 저장하는 리스트.
5. numbers1, numbers2, multiplication, subtraction를 출력.

In [ ]:
numbers1 = []
numbers2 = []
for value in range(0, 10):
  numbers1.append(random.randrange(0, 100))
  numbers2.append(random.randrange(0, 100))
print('numbers1 = ', numbers1)
print('numbers2 = ', numbers2)

multiplication = []
subtraction = []

for x, y in zip(numbers1, numbers2):
  multiplication.append(x*y)
  subtraction.append(x-y)
print('multiplication = ', multiplication)
print('subtraction = ', subtraction)

numbers1 =  [47, 52, 62, 31, 35, 69, 49, 86, 20, 29]
numbers2 =  [22, 67, 6, 38, 95, 85, 81, 11, 8, 36]
multiplication =  [1034, 3484, 372, 1178, 3325, 5865, 3969, 946, 160, 1044]
subtraction =  [25, -15, 56, -7, -60, -16, -32, 75, 12, -7]